<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Categorias</h3>
    </div>

    <ul class="list-unstyled components">
       <li>
        <a href="#">{{TVyVideo}}</a>
      </li>
      <li>
        <a href="#">{{Celulares}}</a>
      </li>
      <li>
        <a href="#">{{LineaBlanca}}</a>
      </li>
      <li>
        <a href="#">{{Videojuegos}}</a>
      </li>
      <li>
        <a href="#">{{Electrodomesticos}}</a>
      </li>
      <li>
        <a href="#">{{ComputacionyTablets}}</a>
      </li>
      <li>
        <a href="#">{{Audio}}</a>
      </li>
      <li>
        <a href="#">{{CamarasyDrones}}</a>
      </li>
      <li>
        <a href="#">{{AudifonosyBocinas}}</a>
      </li>
      <li>
        <a href="#">{{HogarInteligente}}</a>
      </li>
      <li>
        <a href="#">{{PrendasElectronicas}}</a>
      </li>
      <li>
        <a href="#">{{CuidadoPersonal}}</a>
      </li>
      <li>
        <a href="#">{{Climatizacion}}</a>
      </li>
    </ul>
    <span class="fas fa-shopping-cart" type="button">{{Carrito}}</span>
  </nav>

</div>
<script>$(document).ready(function () {
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
  });
});</script>
