
<body>
<hr>
<carousel [cellWidth]="300">
  <div class="carousel-cell">
    <img src="assets/imagenes/slide.png" alt="Imagen1">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide1.png" alt="Imagen2">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide2.jpg" alt="Imagen3">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide3.jpg" alt="Imagen4">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide4.jpg" alt="Imagen5">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide5.png" alt="Imagen6">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide6.jpg" alt="Imagen7">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide7.png" alt="Imagen7">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide8.jpg" alt="Imagen7">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide9.png" alt="Imagen7">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/slide10.png" alt="Imagen7">
  </div>
</carousel>
<hr>
<p align="center" id="samsumgBlueWeek">SAMSUNG BLUE WEEK</p>

<hr>
<div class="row">
  <div class="col">
    <figure class="figure">
      <img src="assets/imagenes/producto1.PNG" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/imagenes/producto2.PNG" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/imagenes/producto3.PNG" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
</div>

</body>
